/*树状目录开始*/
.ztree .node_name{color:#5C6596}
.ztree li{padding:0; margin:0; list-style:none;line-height: 28px;padding: 6px 0px; text-align:left; white-space:nowrap; outline:0;  }
.ztree>li>ul>li {border-bottom: 1px solid #ddd;}
.ztree>li {border-bottom: none;}
.ztree li ul{ margin:0; padding:0 0 0 18px;}
.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:17px; color:#333; background-color: transparent;text-decoration:none; vertical-align:top; display: inline-block;}
.ztree li span {font-size: 14px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; display: inline-block; vertical-align:middle;border:0 none; cursor: pointer;outline:none;background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;background-image:url("../images/iconQX.png");}
.ztree li span.button.chk {width:18px; height:16px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0;}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -50px;}
.ztree li span.button.chk.checkbox_true_full {background-position:-50px -0;}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-50px -50px;}
.ztree li span.button.chk.checkbox_true_part {background-position:0px -100px;}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-50px -100px;}
.ztree li span.button.switch {width:18px; height:15px}
.ztree li span.button.root_open,.ztree li span.button.roots_open,.ztree li span.button.bottom_open {
    background-position:-150px 0;
}
.ztree li span.button.root_close,.ztree li span.button.roots_close,.ztree li span.button.bottom_close {
    background-position:-100px 0;
}
.ztree li span.button.center_open{background-position: -150px 0;}
.ztree li span.button.center_close{background-position:-100px 0;}
.ztree li span.button.center_docu,.ztree li span.button.bottom_docu{width: 18px;height: 0;}
/*树状目录结束*/